<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
  </head>
  <body>
    <style>
      @import
      url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
      * { font-family: "Special Elite", cursive; } #container { margin: 50px;
      text-align: center; border: 1px solid black; border-radius: 25%; padding:
      10px; background-color: white; } input { font-size: 18px; padding: 5px; }
    </style>
    <div id="container">
      <h2>Reset Password for {{email}}</h2>
      <form method="POST">
        <input
          required
          type="password"
          name="password"
          placeholder="Write new password"
          minlength="5"
        />
        <input
          required
          type="password"
          name="password2"
          placeholder="Confirm new password"
          minlength="5"
        />
        <input type="submit" value="Set" />
      </form>
    </div>

  </body>
</html>