<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/tutorials.css" />
    <title>Tutorials</title>
  </head>
  <body>
       {{>transition_nav}}
    <div id="container">
      <h1>Tutorials</h1>
      <iframe
        width="373"
        height="210"
        src="https://www.youtube.com/embed/iqAKubdDSdY"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <iframe
        width="373"
        height="210"
        src="https://www.youtube.com/embed/wRtDB8k8I94"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </body>
</html>