@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  font-family: "Special Elite", cursive;
}
h1 {
  text-align: center;
}
#quiz {
  display: blocK;
  margin: 10px;
}
.words {
  border: 1px solid black;
  display: inline-block;
}
.word {
  margin: 7px 20px;
  display: inline-block;
  font-size: 22px;
}

.image {
  display: block;
  height: 75px;
  margin: 5px 0;
}
hr {
  border: 1px dashed black;
  margin: 0;
}
i {
  font-size: 24px;
  margin: 0;
}
.stru {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.struc {
  font-size: 22px;
  margin: 10px;
  padding: 5px;
  background-color: white;
  border: 1px solid black;
}
p {
  font-size: 19px;
  text-align: center;
  text-decoration: underline;
}
#header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
#date {
  margin-right: 150px;
}
