@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  font-family: "Special Elite", cursive;
}

#container {
  margin: 50px;
  text-align: center;
  border: 1px solid black;
  border-radius: 25%;
  padding: 10px;
  background-color: white;
}
input {
  font-size: 18px;
  padding: 5px;
}
