@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  font-family: "Special Elite", cursive;
}
.container {
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#app {
  border: 1px dotted #1d4068;
}

h1,
h2 {
  text-align: center;
  padding: 5px;
  background-color: #f0f0f0;
  color: #1d4068;
}
img {
  height: 150px;
  border-radius: 10%;
  border: 1px solid black;
}
.link {
  position: relative;
}
figure {
  margin: 15px;
  padding: 0;
}
figcaption {
  position: absolute;
  text-align: center;
  top: -25px;
  left: 10px;
  margin: 0 auto;
  background-color: white;
  color: black;
  padding: 5px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 25%;
  background-color: lightgoldenrodyellow;
  font-weight: bold;
}
.cross,
.check {
  height: 20px;
  border: 1px solid white;
}
.feedback {
  display: inline-block;
}
