@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  font-family: "Special Elite", cursive;
}
.container {
  margin: 20px;
}
h1 {
  text-align: center;
}
.vocab {
  display: inline-block;
}
.vocab_pic {
  display: block;
  height: 200px;
  margin: 0 auto;
}
.vocab figcaption {
  text-align: center;
}
.section h2 {
  display: block;
  background-color: greenyellow;
  padding: 10px;
  text-align: center;
}
