@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  font-family: "Special Elite", cursive;
}
.container {
  margin: 20px;
}
h1 {
  text-align: center;
}
.vocab {
  display: inline-block;
}
.vocab_pic {
  height: 200px;
}
.vocab figcaption {
  text-align: center;
}
