@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  font-family: "Special Elite", cursive;
}
.container {
  margin: 20px;
}
h1 {
  text-align: center;
}
.resources {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}
.resources a {
  margin: 20px;
}
.topic a {
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}
.topic h2 {
  background-color: lightgray;
  padding: 10px;
  text-align: center;
}
.structure h3 {
  border: 1.5px solid green;
  padding: 5px;
}
.structure {
  border: 1px dashed black;
  margin: 15px 0;
  padding: 5px;
  border-radius: 10%;
}
#green {
  background-color: lightgreen;
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}
#yellow {
  background-color: lightgoldenrodyellow;
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}
#pink {
  background-color: lightpink;
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}
#blue {
  background-color: lightblue;
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}
#gray {
  background-color: lightcyan;
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}
#white {
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
  border: 1px solid black;
}
