@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  font-family: "Special Elite", cursive;
}
.container {
  margin: 20px;
}
h1 {
  text-align: center;
}
.resources {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
}
.resources a {
  margin: 10px 20px;
}
.topic a {
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}
.topic h2 {
  background-color: lightgray;
  padding: 10px;
  text-align: center;
}
.structure h2 {
  background-color: aliceblue;
  text-align: center;
  padding: 5px;
  border: 1px solid green;
  border-radius: 20%;
}
.structure {
  border: 1px dashed black;
  margin: 15px 0;
  padding: 5px;
  border-radius: 10%;
}
#green {
  display: block;
  text-align: center;
  background-color: lightgreen;
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}
#yellow {
  display: block;
  text-align: center;
  background-color: lightgoldenrodyellow;
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}
#pink {
  display: block;
  text-align: center;
  background-color: lightpink;
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}
#blue {
  display: block;
  text-align: center;
  background-color: lightblue;
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}
#gray {
  display: block;
  text-align: center;
  background-color: lightcyan;
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}
#white {
  display: block;
  text-align: center;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
  border: 1px solid black;
}
#other {
  display: block;
  text-align: center;
  background-color: lightcoral;
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}
#paper_reading {
  display: block;
  text-align: center;
  background-color: #adff2f;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}
#video {
  display: block;
  text-align: center;
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}
#typing {
  display: block;
  text-align: center;
  background-color: lightcoral;
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}
#decoding {
  display: block;
  text-align: center;
  background-color: orange;
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}
#unscramble_w {
  display: block;
  text-align: center;
  background-color: burlywood;
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}
#unscramble_s {
  display: block;
  text-align: center;
  background-color: yellow;
  text-decoration: none;
  padding: 5px;
  border-radius: 15%;
}
.check {
  height: 20px;
}
h3 {
  text-align: center;
  padding: 5px;
  background-color: blanchedalmond;
  border-radius: 25%;
  border: solid red 1px;
}
.title {
  cursor: pointer;
}
.blue {
  color: green;
}
