@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  font-family: "Special Elite", cursive;
}
.container {
  margin: 20px;
}
h1 {
  text-align: center;
}
.structure a,
.topic a {
  margin: 10px;
}
.topic {
  border: 1px solid black;
  padding: 20px;
  margin-bottom: 20px;
}
