@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  font-family: "Special Elite", cursive;
}
.items {
  margin-bottom: 600px;
}
input[type="text"] {
  color: blue;
  font-size: 24px;
  width: 140px;
  text-align: center;
}
.image {
  height: 150px;
  margin: 10px auto;
  display: block;
  border-radius: 15px;
}
.sentence {
  font-size: 24px;
  text-align: center;
  margin: 20px;
  border: 1px dotted black;
  padding: 20px;
}
.cross,
.check {
  height: 25px;
  margin: 0 5px;
}
.score {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 24px;
  z-index: 1;
  background-color: white;
  border: 1px solid black;
  padding: 9px;
}
h1,
h2 {
  text-align: center;
}
#instruction {
  background-color: lightgreen;
  padding: 7px;
  font-size: 22px;
  text-align: justify;
  margin-bottom: 35px;
}
