@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  font-family: "Special Elite", cursive;
}
h1 {
  text-align: center;
}
.words {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.word {
  margin: 10px;
}

img {
  height: 100px;
  display: block;
  margin: 0 auto;
}
figcaption {
  font-size: 24px;
  text-align: center;
  margin: 5px;
}
